{% extends "base.html" %}

{% block title %}Historial{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}

{% block content %}
<div class="history_content">
    <h1>HISTORIAL DE COMPRAS</h1>
    <table class="history_products">
        <tr>
            <th>Peliculas Compradas</th>
            <th>Fecha de Compra</th>
            <th>Importe</th>
        </tr>
        {% for compra in history %}
        <tr class="history_product">
            <th>
                {% for item in compra.peliculas_compradas %}
                {{ item['pelicula'].titulo }} x {{ item['cantidad'] }} ({{ item['importe']/100 }} $)
                <br>
                {% endfor %}
            </th>
            <th>{{ compra.fecha }}</th>
            <th>{{ compra.precio_compra/100 }} $</th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
