{% extends "search.html" %}

{% block title %} Indice {% endblock %}

{% block head_scripts %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block extra_container %}
<div class="topactors_container">
    <div class="topactors_title">
        <h2>Top Actores Por Genero</h2>
    </div>
    <div class="topactors_filter">
        <label for="topactor_genre">Genero: </label>
        <select name="topactor_genre" id="topactor_genre_select">
            {% for item in categories %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <span><a href="{{ url_for('top_actors', genre='Fantasy') }}">Ver tabla</a></span>
    </div>
    <div class="topactors_list">
    </div>
</div>
{% endblock %}