{% extends "base.html" %}

{% block title %}Pelicula{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/movie_page.css') }}">
{% endblock %}
{% block head_scripts %}
<script src="{{ url_for('static', filename='scripts/movie_page.js') }}"></script>
{% endblock %}

{% block content %}
<div class="movie_content">
    <div class="top_part">
            <div class="image_movie">
                <img src="{{ url_for('static', filename='img/sample2.jpg') }}" alt="">
            </div>
            <div class="movie_info">
                <h1>{{movie.title}}</h1>
                <div class="movie_extra">
                    <div class="movie_info_">
                        <div class="movie_info__">
                            <span>{{movie.year}}</span>
                            <span>{{movie.duracion}}</span>
                        </div>
                        <a href="">{{movie.categoria}}</a>
                        <p>La pelicula fue dirigida por: {{movie.director}}</p>
                    </div>
                    <div class="movie_rating">

                    </div>
                </div>
                <div class="purchase">
                    <button class="purchase_button">Añadir al carrito</button>
                </div>
            </div>
    </div>
    <div class="bottom_part">
        <div class="movie_description">
            <p class="text">{{movie.description}}<span class="more_text">{{movie.description_extra}}</span></p>
        </div>
        <button class="see_more">Ver más</button>
    </div>
</div>
{% endblock %}
