{% extends "base.html" %}

{% block title %}Top Actors{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/top_actors.css') }}">
{% endblock %}

{% block content %}
<div class = "top_actors_content">
  <h1>Top {{ genre }} actors</h1>

  <table class="top_actors_products">
      <tr>
          <th>Actor</th>
          <th>Numero</th>
          <th>Fecha de debut</th>
          <th>Pelicula</th>
          <th>Director</th>
      </tr>
      {% for item in top_actors %}
      <tr class="top_actors_product">
          <th>{{ item.actor }}</th>
          <th>{{ item.num }}</th>
          <th>{{ item.debut }}</th>
          <th> <a href="{{ url_for('movie_page', id=item.movieid) }}">{{ item.film }}</a></th>
          <th>{{ item.director }}</th>
      </tr>
      {% endfor %}
  </table>
</div>

{% endblock %}
