* {
  font-family: sans-serif;
}

body {
    position: relative;
    margin: 0;
}

/* HEADER */
.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99999;
    display: flex;
    justify-content: space-around;

    background-color: mediumseagreen;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_logo {
    width: 50px;
}

.app_name h1 {
    color: white;
    font-size: 38px;
    font-family: monospace;
}

.user_icon {
    width: 13px;
}

.login_container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.login_container * {

}

/* SIDE MENU */
.side_menu{
    width: 8em;
    height: 100%;
    display: flex;
    position: absolute;
    background-color: lightgreen;
}

.side_links ul {
    padding: 0px 15px 0px 15px;
    text-align: left;
}

.side_links ul li{
    position: relative;
    display: block;
    padding: 15px 0px;

    list-style: none;
    cursor: pointer;
}

.side_links ul li a{
    color: white;
    text-decoration: none;
}

.side_links ul li::after{
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;

    content: "";
    transition:0.6s;
    background-color: white;
}

.side_links ul li:hover::after{
    width: 100%;
}

/* CONTENT */
.content {
    margin-left: 8em;
    padding-left: 4em;
    padding-right: 13em;
}

.searcher {
    display: flex;
    margin: 20px 0 10px 0;
    justify-content: center;
}

.searchbox {
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchbox input {
    height: 30px;
    width: 95%;
    font-size: 19px;
}

.movies_container {
    display: grid;
    grid-gap: 10px;
    /*grid-template-columns: repeat(auto-fit,320px);*/
    grid-template-columns: repeat(auto-fit,minmax(350px, max-content));
    justify-content: center;
    margin: 20px 0 20px 0;
}

.movie_preview {
    height: 350px;
    width: 320px;
    border: 1px solid lightgray;
    margin: 0px 15px 10px 15px;
}

.movie_title {
    padding: 5px;
    text-align: center;
    font-size: 11px;
    color: darkblue;
}
.movie_title h2 {
    margin: 0;
}

.movie_quickdata {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    color: darkblue;
    background-color: ghostwhite;
}

.movie_poster {
    height: 200px;
    float: left;
}
.movie_poster img {
    height: 210px;
}

.movie_synopsis {
    height: 200px;
    padding: 6px;
    overflow: hidden;
    font-size: 12px;
}
.movie_synopsis:hover {
    overflow-y: scroll;
}
.movie_synopsis span {
    white-space: pre-line;
}

/* FOOTER */
.footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;

    color: white;
    background-color: lightgreen;
    text-align: right;
}

.footer p {
    padding: 0 10px;
}
