<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="../static/css/master.css">
        <script type="text/javascript" src="../static/scripts/jquery-3.6.0.js"></script>
        <script type="text/javascript" src="../static/scripts/visitors.js"></script>
        {% block head_scripts %}{% endblock %}
    </head>

    <body>
        <!-- HEADER -->
        <div class="header">
            <div class="logo_container">
                <img class="main_logo" src="../static/img/logo2.png" alt="">
            </div>
            <div class="app_name">
                <h1>Foro Peliculas</h1>
            </div>
            <div class="login_container_index">
                <img class="user_icon" src="../static/img/user.png" alt="">
                {% if user.is_authenticated %}
                <a href="{{ url_for('index') }}">Mi cuenta</a>
                <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                {% else %}
                <a href="{{ url_for('login') }}">Iniciar sesión</a>
                <a href="{{ url_for('signup') }}">Registrarse</a>
                {% endif %}
            </div>
        </div>
        <!-- FOOTER -->
        <div class="footer">
            <div>
                <span id="num_visitors">Número de visitantes: </span>
            </div>
            <div>
                <span>© 2021 Footer Inc. All Rights Reserved</span>
            </div>
        </div>
        <!-- SIDE MENU -->
        <div class="side_menu">
            <div class="side_links">
                <ul>
                    <li><a href="{{ url_for('index') }}">Catalogue</a></li>
                    <li><a href="{{ url_for('cart') }}">Carrito</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{{ url_for('history') }}">Historial</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="content">
            {% block content %}{% endblock %}
        </body>

</html>
