{% extends "base.html" %}

{% block title %}Carrito{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="../static/css/cart.css">
{% endblock %}
{% block head_scripts %}
<script src="../static/scripts/cart.js"></script>
{% endblock %}

{% block content %}
<div class="cart_content">
    <div class="shopping_cart">
        <div class="cart_categories">
            <span>LISTA COMPRA</span>
            <div class="cart_tags">
                <p class="price_tag">Precio</p>
                <p class="quantity_tag">Cantidad</p>
                <p class="total_tag">Total</p>
            </div>
        </div>
        {% for item in movies_in_cart %}
        <div class="cart_product">
            <img class="product_image" src={{item.pelicula.poster}} alt="">
            <div class="product_dcp">
                <p>{{ item['pelicula'].titulo }}</p>
                <span>{{ item['pelicula'].descripcion }}</span>
            </div>
            <div class="product_price">{{ item['pelicula'].precio/100 }} $</div>
            <div class="product_id">{{ item['pelicula'].id }}</div>
            <div class="product_quantity">
                <input class="copies_in_cart" name="copies_in_cart" type="number" value={{item.cantidad}} min="1">
            </div>
            <button class="product_remove" type="button">Eliminar</button>
            <div class="products_total_price">{{ item['importe']/100 }} $</div>
        </div>
        {% endfor %}
        <div class="checkout_part">
            <div class="total_price_calculation">{{ total_price/100 }} $</div>
            <form action="{{url_for('checkout')}}" method="get">
                <button type="submit" class="checkout">Checkout</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
