{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="login_content">
    <h1>BIENVENIDO DE NUEVO</h1>
    <form class="user_form" action="" method="post">
        <input type="text" placeholder="Nombre de usuario" name="username" required>
        <input type="password" placeholder="Contraseña" name="password" required>
        <button type="submit">Iniciar Sesión</button>
    </form>
    <li><h2>¿No estás registrado?</h2><a href="{{ url_for('signup') }}">Crea una cuenta</a></li>
</div>
{% endblock %}
