<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>title</title>
        <link rel="stylesheet" href="../static/css/master.css">
    </head>

    <body>
        <!-- HEADER -->
        <div class="header">
            <div class="logo_container">
                <img class="main_logo" src="../static/img/logo2.png" alt="">
            </div>
            <div class="app_name">
                <h1>Foro Peliculas</h1>
            </div>
            <div class="login_container_index">
                <img class="user_icon" src="../static/img/user.png" alt="">
                <a href="{{ url_for('login') }}">Iniciar sesión</a>
                <a href="{{ url_for('signup') }}">Registrarse</a>
            </div>
        </div>
        <!-- FOOTER -->
        <div class="footer">
            <div class="">
                <p>© 2021 Footer Inc. All Rights Reserved</p>
            </div>
        </div>
        <!-- SIDE MENU -->
        <div class="side_menu">
            <div class="side_links">
                <ul>
                    <li><a href="{{ url_for('index') }}">Catalogue</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="{{ url_for('cart') }}">Carrito</a></li>
                </ul>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="content">
            
        </body>

</html>
