{% extends "base.html" %}

{% block title %}Carrito{% endblock %}

{% block content %}
<div class="cart_content">
    <div class="shopping_cart">
        <div class="cart_categories">
            <span>SHOPPING CART</span>
            <div class="cart_tags">
                <p class="price_tag">Price</p>
                <p class="quantity_tag">Quantity</p>
                <p class="total_tag">Total</p>
            </div>
        </div>
        {% for item in movies_in_cart %}
        <div class="cart_product">
            <img class="product_image" src={{item[0].poster}}>
            <div class="product_dcp">
                <p>{{ item[0].titulo }}</p>
                <span>{{ item[0].descripcion }}</span>
            </div>
            <div class="product_price">{{ item[0].precio }}</div>
            <div class="product_quantity">
                <input type="number" value={{item[1]}} min="1"></input>
            </div>
            <button class="product_remove">Remove</button>
            <div class="products_total_price">${{ item[2] }}</div>
        </div>
        {% endfor %}
        <div class="checkout_part">
            <div class="total_price_calculation">$XXX</div>
            <button class="checkout">Checkout</button>
        </div>
    </div>
</div>
{% endblock %}
