{% extends "base.html" %}

{% block title %} Indice {% endblock %}

{% block content%}
<div class="searcher">
    <div class="searchbox">
        <input type="text" placeholder="Search...">
    </div>
    <div class="filterbox">
        <div class="filter">
            <input type="checkbox" name="cat1" value=""><label for="cat1">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat2" value=""><label for="cat2">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat3" value=""><label for="cat3">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat4" value=""><label for="cat4">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat4" value=""><label for="cat4">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat1" value=""><label for="cat1">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat2" value=""><label for="cat2">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat3" value=""><label for="cat3">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat4" value=""><label for="cat4">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat1" value=""><label for="cat1">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat2" value=""><label for="cat2">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat3" value=""><label for="cat3">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat4" value=""><label for="cat4">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat1" value=""><label for="cat1">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat2" value=""><label for="cat2">category</label>
        </div>
        <div class="filter">
            <input type="checkbox" name="cat3" value=""><label for="cat3">category</label>
        </div>
    </div>
</div>
<div class="movies_container">
    {% for item in movies %}
    <div class="movie_preview">
        <div class="movie_title">
            <h2>{{ item.titulo }}</h2>
        </div>
        <div class="movie_quickdata">
            <span class="director">{{ item.director }}</span>
            <span class="category">{{ item.categoria }}</span>
            <span class="price">{{ item.precio }}</span>
        </div>
        <div class="movie_poster">
            <a href="{{ url_for('movie_page') }}">
                <img src={{item.poster}} alt="">
            </a>
        </div>
        <div class="movie_synopsis">
            <span>{{ item.descripcion }}</span>
        </div>
        <div class="movie_footer">
            <div class="movie_add_to_cart">
                <button type="button" name="add_to_cart">Añadir a la carta</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
 {% endblock %}
