{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="login_content">
    <h1>WELCOME BACK</h1>
    <form class="user_form" action="index.html" method="post">
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <li><h2>Not Registered?</h2><a href="{{ url_for('signup') }}">Create an Acount</a></li>
</div>
{% endblock %}
