{% extends "base.html" %}

{% block title %}Registrarse{% endblock %}
{% block head_scripts %}
<script type="text/javascript" src="../static/scripts/jquery-3.6.0.js"></script>
<script type="text/javascript" src="../static/scripts/signup.js"></script>
{% endblock %}

{% block content %}
<div class="signup_content">
    <h1>Crear una cuenta</h1>
    <p>¡Es gratis y apenas se tardan 3 segundos!</p>
    <form class="user_form" action="index.html" method="post">
        <div class="inputs">
            <div class="inputs_left">
                <input type="text" id="singusername" placeholder="Nombre de usuario" name="signusername" required>
                <input type="text" id="email" placeholder="Dirección email" name="email" required>
                <div>
                    <input type="password" id="signpassword" placeholder="Contraseña" name="signpassword" required>
                    <span class="strength" id="strength_2">Utilice minúsculas, mayúsculas, números, símbolos y al menos 6 caracteres</span>
                    <span class="strength" id="strength_1"></span>
                </div>
                <div>
                    <input type="password" id="confsignpassword" placeholder="Confirmar contraseña" name="confsignpassword" required>
                    <span class="strength" id="strength_3"></span>
                </div>
            </div>
            <div class="inputs_right">
                <input type="text" id="address" placeholder="Dirección de envío" name="address" required>
                <input type="text" id="payment" placeholder="Método de pago" name="payment" required>
            </div>
        </div>
        <span class="strength" id="submit_result"></span>
        <button type="submit">Registrarse</button>
    </form>
    <p>Al pulsar Registrarse acepta nuestros términos y condiciones</p>
</div>
{% endblock %}
