<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>title</title>
        <link rel="stylesheet" href="../static/master.css">
        <script type="text/javascript" src="../javascript/jquery-3.6.0.js"></script>
        <script type="text/javascript" src="../javascript/signup.js"></script>
    </head>

    <body id="signup_body">
        <!-- HEADER -->
        <div class="header">
            <div class="logo_container">
                <img class="main_logo" src="../static/logo2.png" alt="">
            </div>
            <div class="app_name">
                <h1>Foro Peliculas</h1>
            </div>
            <div class="login_container_index">
                <img class="user_icon" src="../static/user.png" alt="">
                <a href="{{ url_for('login') }}">Iniciar sesión</a>
                <a href="{{ url_for('signup') }}">Registrarse</a>
            </div>
        </div>
        <!-- SIDE MENU -->
        <div class="side_menu">
            <div class="side_links">
                <ul>
                    <li><a href="{{ url_for('index') }}">Catalogue</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="{{ url_for('cart') }}">Carrito</a></li>
                </ul>
            </div>
        </div>
        <!-- SINGUP CONTAINER -->
        <div class="signup_container">

            <div class="signup_content">

                <h1>Create Account</h1>
                <p>It's free and hardly takes more than 3 seconds</p>

                <div class="inputs">
                    <div class="inputs_left">
                        <input type="text" id="singusername" placeholder="Username" name="signusername" required>
                        <input type="text" id="email" placeholder="Email Address" name="email" required>
                        <div>
                            <input type="password" id="signpassword" placeholder="Password" name="signpassword" required>
                            <span class="strength" id="strength_1"></span>
                        </div>
                        <div>
                            <input type="password" id="confsignpassword" placeholder="Confirm Password" name="confsignpassword" required>
                            <span class="strength" id="strength_2"></span>
                        </div>
                    </div>
                    <div class="inputs_right">
                        <input type="text" id="address" placeholder="Shipping Address" name="address" required>
                        <input type="text" id="payment" placeholder="Pay Method" name="payment" required>
                    </div>
                </div>

                <button type="submit">Sign Up</button>

                <p>By clicking Sign Up, you agree to our Terms.</p>

            </div>
        </div>
        <!-- FOOTER -->
        <div class="footer">
            <div class="">
                <p>© 2021 Footer Inc. All Rights Reserved</p>
            </div>
        </div>
    </body>

</html>
