<!DOCTYPE HTML> 
<!--
 Ejemplo de MongoDB
-->
<HTML> 
  <HEAD> 
	  <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8"> 
	  <TITLE>Ejemplo de MongoDB</TITLE>
  </HEAD> 

  <BODY>
 
    <h2> Ejemplo de MongoDB</h2>

    <!-- TODO: tabla de películas SciFi -->
    <h3>Movies SCI-FI</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Genres</th>
        <th>Year</th>
        <th>Directors</th>
        <th>Actors</th>
        <th>Most Related Movies</th>
        <th>Related Movies</th>
      </tr>
      {% for movie in movies[0] %}
      <tr>
        <td>{{movie.title}}</td>
        <td>{{movie.genres}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.directors}}</td>
        <td>{{movie.actors}}</td>
        <td>{{movie.most_related_movies}}</td>
        <td>{{movie.related_movies}}</td>
      </tr>
      {% endfor %}
    </table>

    <!-- TODO: tabla de películas Drama -->
    <h3>Movies Drama</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Genres</th>
        <th>Year</th>
        <th>Directors</th>
        <th>Actors</th>
        <th>Most Related Movies</th>
        <th>Related Movies</th>
      </tr>
      {% for movie in movies[1] %}
      <tr>
        <td>{{movie.title}}</td>
        <td>{{movie.genres}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.directors}}</td>
        <td>{{movie.actors}}</td>
        <td>{{movie.most_related_movies}}</td>
        <td>{{movie.related_movies}}</td>
      </tr>
      {% endfor %}
    </table>

    <!-- TODO: tabla de películas JR y AB -->
    <h3>Movies JR & AB</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Genres</th>
        <th>Year</th>
        <th>Directors</th>
        <th>Actors</th>
        <th>Most Related Movies</th>
        <th>Related Movies</th>
      </tr>
      {% for movie in movies[2] %}
      <tr>
        <td>{{movie.title}}</td>
        <td>{{movie.genres}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.directors}}</td>
        <td>{{movie.actors}}</td>
        <td>{{movie.most_related_movies}}</td>
        <td>{{movie.related_movies}}</td>
      </tr>
      {% endfor %}
    </table>
  </BODY>
</HTML>
